

::-webkit-scrollbar {
  width: 1px;
  height: 100px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
  border-radius: 10px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

:root {
  --font-audiowide-sans: 'Audiowide', sans-serif;
}

body {
  background: radial-gradient(circle at 15% 50%, rgba(128, 73, 0, 0.329), transparent 30%),
  radial-gradient(circle at 85% 60%, rgba(128, 73, 0, 0.329), transparent 30%),
  black;
  height: 100vh;
  margin: 0;
  font-family: var(--font-audiowide-sans);
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}


.container_for_content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container_for_description {
  max-width: 600px;
  width: 100%;
}

.container_for_contact {
  max-width: 320px;
  width: 100%;
}


.container_for_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container_for_description {
  max-width: 600px;
  width: 100%;
}


.container_for_project {
  max-width: 650px;
  width: 100%;
}


a {
  text-decoration: none;
}
