.Footer {

    .content {
        margin-top: 100px;
        margin-bottom: 30px;
        text-align: center;
        p {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            color: white;
            font-size: 13px;
            font-weight: 400;
            // font-family: "Roboto Mono", monospace;

            span {
                color: rgba(168, 95, 0, 0.732);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}